<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:property name="PI" value="3.14159265" />


    <joint name="camera_joint" type="fixed">
        <origin xyz="0.305 0.0 0.08" rpy="0.0 0.0 0.0"/>
        <parent link="chassis"/>
        <child link="camera_link"/>
    </joint>


    <link name="camera_link">
        <visual>
            <geometry>
                <box size="0.01 0.03 0.03"/>
            </geometry>
            <material name="black"/>
        </visual>
    </link>

    <joint name="camera_optical_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="${-pi/2} 0.0 ${-pi/2}"/>
        <parent link="camera_link"/>
        <child link="camera_link_optical"/>
    </joint>

    <link name="camera_link_optical">
    </link>

    <gazebo reference="camera_link">
        <material>Gazebo/Black</material>
        <sensor name="camera" type="camera">
            <visualize>true</visualize>
            <pose>0.0 0.0 0.0 0.0 0.0 0.0</pose>
            <update_rate>10</update_rate>
            <camera>
                <image width="640" height="480" hfov="1.5708" format="RGB8" near="0.01" far="50.0"/>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>camera_link_optical</frame_name>
            </plugin>
        </sensor>
    </gazebo>
</robot>